<section class="benefits-section">
  <div class="benefits-container container">
    <ul class="benefits-img">
      <li class="benefits-list-img">
        <img
          srcset="./img/Benefits/diving.jpg 1x, ./img/Benefits/diving@2x.jpg 2x"
          src="./img/Benefits/diving.jpg"
          alt="diving"
          width="712"
          height="632"
          class="diving-img ben-img"
        />

        <p class="text">Diving</p>
      </li>
      <li class="benefits-list-img">
        <img
          srcset="
            ./img/Benefits/fishing.jpg    1x,
            ./img/Benefits/fishing@2x.jpg 2x
          "
          src="./img/Benefits/fishing.jpg"
          alt="fishing"
          width="440"
          height="428"
          class="fishing-img ben-img"
        />

        <p class="text">Fishing</p>
      </li>
      <li class="benefits-list-img">
        <img
          srcset="
            ./img/Benefits/sunbathing.jpg    1x,
            ./img/Benefits/sunbathing@2x.jpg 2x
          "
          src="./img/Benefits/sunbathing.jpg"
          alt="sunbathing"
          width="436"
          height="352"
          class="sunbathing-img ben-img"
        />

        <p class="text">Sunbathing</p>
      </li>
    </ul>
  </div>
</section>
