<section id="service-block" class="section-benefits">
  <div class="container container-mob">
    <ul class="benefits-img">
      <li class="benefits-list-img benefits-list-img-diving">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/diving_mob.jpg    1x,
              ./img/Benefits/diving_mob@2x.jpg 2x
            " src="./img/Benefits/diving_tab.jpg" alt="diving" width="335" height="335" class="diving-img ben-img" />

          <div class="position-text-diving">
            <p class="text-img">Diving</p>
          </div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-fishing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/fishing_mob.jpg    1x,
              ./img/Benefits/fishing_mob@2x.jpg 2x
            " src="./img/Benefits/fishing_tab.jpg" alt="fishing" width="335" height="335"
            class="fishing-img ben-img" />

          <div class="position-text-fishing">
            <p class="text-img">Fishing</p>
          </div>
          <div class="blur-effect-mobile"></div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-sunbathing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/sunbathing_mob.jpg    1x,
              ./img/Benefits/sunbathing_mob@2x.jpg 2x
            " src="./img/Benefits/sunbathing_mob.jpg" alt="sunbathing" width="335" height="335"
            class="sunbathing-img ben-img" />

          <div class="position-text-sunbathing">
            <p class="text-img">Sunbathing</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="container container-tab">
    <ul class="benefits-img">
      <li class="benefits-list-img benefits-list-img-diving">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/diving_tab.jpg    1x,
              ./img/Benefits/diving_tab@2x.jpg 2x
            " src="./img/Benefits/diving_tab.jpg" alt="diving" width="704" height="632" class="diving-img ben-img" />

          <div class="position-text-diving">
            <p class="text-img">Diving</p>
          </div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-fishing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/fishing_tab.jpg    1x,
              ./img/Benefits/fishing_tab@2x.jpg 2x
            " src="./img/Benefits/fishing_tab.jpg" alt="fishing" width="400" height="389"
            class="fishing-img ben-img" />

          <div class="position-text-fishing">
            <p class="text-img">Fishing</p>
          </div>
          <div class="blur-effect"></div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-sunbathing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/sunbathing_tab.jpg    1x,
              ./img/Benefits/sunbathing_tab@2x.jpg 2x
            " src="./img/Benefits/sunbathing_tab.jpg" alt="sunbathing" width="380" height="352"
            class="sunbathing-img ben-img" />

          <div class="position-text-sunbathing">
            <p class="text-img">Sunbathing</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="container container-desc">
    <ul class="benefits-img">
      <li class="benefits-list-img benefits-list-img-diving">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/diving_desc.jpg    1x,
              ./img/Benefits/diving_desc@2x.jpg 2x
            " src="./img/Benefits/diving_desc.jpg" alt="diving" width="712" height="632" class="diving-img ben-img" />

          <div class="position-text-diving">
            <p class="text-img">Diving</p>
          </div>
          <div class="blur-effect"></div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-fishing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/fishing_desc.jpg    1x,
              ./img/Benefits/fishing_desc@2x.jpg 2x
            " src="./img/Benefits/fishing_desc.jpg" alt="fishing" width="440" height="428"
            class="fishing-img ben-img" />

          <div class="position-text-fishing">
            <p class="text-img">Fishing</p>
          </div>
        </div>
      </li>

      <li class="benefits-list-img benefits-list-img-sunbathing">
        <div class="benefits-style">
          <img srcset="
              ./img/Benefits/sunbathing_desc.jpg    1x,
              ./img/Benefits/sunbathing_desc@2x.jpg 2x
            " src="./img/Benefits/sunbathing_desc.jpg" alt="sunbathing" width="436" height="352"
            class="sunbathing-img ben-img" />

          <div class="position-text-sunbathing">
            <p class="text-img">Sunbathing</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>