<div class="container footer-container">
  <div class="conection">
    <div class="footer-svg-logo">
      <a href="" class="footer-jacht">
        <svg class="jacht-icon" width="16" height="18">
          <use href="./img/icon.svg#icon-boat-logo"></use>
        </svg>
      </a>
      <a href="" class="footer-logo">YACHT ADVENTURES</a>
    </div>
    <div class="footer-block">
      <ul class="footer-block-menu">
        <li class="footer-about">
          <a href="#" class="footer-menu">ABOUT</a>
        </li>
        <li class="footer-about">
          <a href="#" class="footer-menu">YACHTS</a>
        </li>
        <li><a href="#" class="footer-menu">REVIEWS</a></li>
      </ul>
    </div>
    <div class="footer-block">
      <p class="footer-social-networks">WE IN SOCIAL</p>
      <ul class="footer-social-media">
        <li>
          <a href="" target="_blank" class="footer-link">
            <svg class="footer-icons-social" width="32" height="32">
              <use href="./img/icon.svg#40x40-footer-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <svg class="footer-icons-social" width="32" height="32">
              <use href="./img/icon.svg#40x40-footer-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <svg class="footer-icons-social" width="32" height="32">
              <use href="./img/icon.svg#40x40-footer-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-blur"></div>
  <ul class="footer-year">
    <li class="footer-text">2023. Yacht Adventures</li>
    <li class="footer-text">Privacy Police</li>
  </ul>
</div>
