u
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-svg-logo">
      <a href="">
        <svg class="footer-icons" width="25.5" height="25.2">
          <use href=""></use>
        </svg>
      </a>
      <a href="" class="footer-logo">YACHT ADVENTURES</a>
    </div>
    <div class="footer-block footer-block-menu">
      <nav>
        <ul>
          <li class="footer-about"><a href="" class="footer-menu">ABOUT</a></li>
          <li class="footer-about">
            <a href="" class="footer-menu">YACHTS</a>
          </li>
          <li><a href="" class="footer-menu">REVIEWS</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-block">
      <p class="footer-social-networks">WE IN SOCIAL</p>
      <ul>
        <li>
          <a href="">
            <svg class="footer-icons-social" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer-icons-social" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer-icons-social" width="32" height="32">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-year">
    <p class="footer-text">2023. Yacht Adventures</p>
    <p class="footer-text">Privacy Police</p>
  </div>
</footer>
