<header class="header-section">
    <div class="header-container container">
      <nav class="header-nav">
        <div class="header-logo-box">
          <svg class="logo-icon"  width="20" height="23">
            <use xlink:href="./img/icon.svg#a"></use>
          </svg>
          <a href="./index.html" class="header-logo-link">yacht Adventures</a>
        </div>
        <button
            class="mob-menu-btn js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="icon-menu"
              width="24"
              height="24"
            >
             <use href="./img/icon.svg#icon-menu"></use>
            </svg>
        </button>
        <ul class="header-nav-list">
          <li class="header-item">
            <a href="#about" class="header-link">About</a>
          </li>
          <li class="header-item">
            <a href="#yachts-section" class="header-link">Yachts</a>
          </li>
          <li class="header-item">
            <a href="#" class="header-link">Reviews</a>
          </li>
        </ul>
  
      </nav>
    </div>
  </header>