<section class="hero-section container">
  <div class="hero_main-div">
    <div class="hero_title-text">
      <h1 class="hero_title">
        Explore the High<br />
        Seas with
        <span class="hero_title-luxury">Our Luxury <br />Yacht</span>
        Rentals
      </h1>
      <h1 class="hero_title_tablet">
        Explore the High Seas with <br />
        <span class="hero_title-luxury">Our Luxury Yacht</span>
        Rentals
      </h1>

      <p class="main-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <div class="hero_btn-div">
        <button type="button" class="hero_get-started_btn">
          <span class="hero_get-started_text">Get Started</span>
        </button>

        <a href="#service-block" class="hero_explore_btn"
          ><span class="hero_explore_text">Explore</span></a
        >

        <!-- <button type="button" class="hero_explore_btn">
          <span class="hero_explore_text">Explore</span>
        </button> -->
      </div>
    </div>
    <div class="hero_img-group">
      <div class="mask">
        <img
          class="hero-image-bg"
          src="./img/hero_sct_img/Mask-group.png"
          alt="hero-image"
        />
      </div>
      <div class="hero_img-man">
        <img src="./img/hero_sct_img/img-man.png" alt="yaht-man" />
      </div>
      <div class="hero_img-yaht">
        <img src="./img/hero_sct_img/img-yaht.png" alt="yaht-image" />
      </div>
      <div class="hero_img-group_clients">
        <div class="hero_client client1"></div>
        <div class="hero_client client2"></div>
        <div class="hero_client client3"></div>
        <p class="hero_our-client-text">our clients</p>
        <!-- <img
          class="hero_client client1"
          src="./img/hero_sct_img/clients/hero_client_1.png"
          alt="client_1"
        />
        <img
          class="hero_client client2"
          src="./img/hero_sct_img/clients/hero_client_2.png"
          alt="client_2"
        />
        <img
          class="hero_client client3"
          src="./img/hero_sct_img/clients/hero_client_3.png"
          alt="client_3"
        /> -->
        <!-- <svg class="hero_client1" width="58px" height="58px">
          <use href="../img/hero_sct_img/svg/Checkbox.svg" />
        </svg>
        <div class="hero_client2"></div>
        <div class="hero_client3"></div> -->
      </div>
      <div class="hero-img-group_main-text">
        <p class="hero-img-group_main-text_12m">$12M</p>
        <p class="hero-img-group_main-text_book">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
      <div class="hero_blur"></div>
      <div class="hero_blur2"></div>
      <div class="hero_blur3"></div>
    </div>
  </div>
</section>
