<section class="hero-section container">
  <h1 class="hero_title">
    Explore the High<br />
    Seas with
    <span class="hero_title-luxury"
      >Our Luxury<br />
      Yacht</span
    >
    Rentals
  </h1>

  <p class="main-text">
    Experience the freedom and luxury of yachting on the open seas. Choose from
    our top-of-the-line yachts and embark on an unforgettable journey surrounded
    by breathtaking views and state-of-the-art amenities.
  </p>

  <div class="hero_btn-div">
    <button type="button" class="hero_get-started_btn">
      <span class="hero_get-started_text">Get Started</span>
    </button>
    <button type="button" class="hero_explore_btn">
      <span class="hero_explore_text">Explore</span>
    </button>
  </div>

  <div class="hero_img-group">
    <div class="mask">
      <img
        class="hero-image-bg"
        src="./img/hero_sct_img/hero-image.png"
        alt="hero-image"
      />
    </div>
  </div>
</section>
