<div class="menu-container container js-menu-container" id="mobile-menu">
  <div class="mobile-box">
    <div class="mobile-logo-box">
      <svg class="icon-logo" width="20" height="23">
        <use xlink:href="./img/icon.svg#icon-boat-logo"></use>
      </svg>
      <a class="mobile-logo-link link" href="./index.html">yacht Adventures</a>
    </div>
    <button class="mob-close-btn js-close-menu">
      <svg class="mob-menu-close-icon" width="24" height="24">
        <use href="./img/icon.svg#icon-x"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu">
    <ul class="mobile-menu">
      <li class="mob-menu-item">
        <a class="mob-menu-link active link" href="#about">About</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#yachts-section">Yachts</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link link" href="#reviews-section">Reviews</a>
      </li>
    </ul>
  </div>
  <div class="gradient">
    <svg class="menu-gradient-l" width="279" height="279">
      <use href="./img/icon.svg#mobilemenu-header-Ellipse-left"></use>
    </svg>
    <svg class="menu-gradient-r" width="279" height="279">
      <use href="./img/icon.svg#mobilemenu-header-Ellipse-right"></use>
    </svg>
  </div>
</div>
