<div class="menu-container container js-menu-container" id="mobile-menu">
  <nav class="mobile-nav">
    <div class="mobile-logo-box">
      <svg class="icon-logo" width="20" height="23">
        <use xlink:href="./img/icon.svg#icon-boat-logo"></use>
      </svg>
      <a href="./index.html" class="mobile-logo-link link">yacht Adventures</a>
    </div>
    <button class="mob-close-btn js-close-menu">
      <svg class="mob-menu-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-x"></use>
      </svg>
    </button>
  </nav>

  <div class="mob-menu">
    <ul class="mobile-menu">
      <li class="mob-menu-item">
        <a href="./index.html" class="mob-menu-link active link">About</a>
      </li>
      <li class="mob-menu-item">
        <a href="#yachts-section" class="mob-menu-link link">Yachts</a>
      </li>
      <li class="mob-menu-item">
        <a href="#reviews-section" class="mob-menu-link link">Reviews</a>
      </li>
    </ul>
  </div>
  <div class="gradient">
    <svg class="menu-gradient-l" width="279" height="279">
      <use href="./img/icon.svg#mobilemenu-header-Ellipse-left"></use>
    </svg>
    <svg class="menu-gradient-r" width="279" height="279">
      <use href="./img/icon.svg#mobilemenu-header-Ellipse-right"></use>
    </svg>
  </div>
</div>
