<div class="pop-backdrop is-hidden" data-modal>
  <div class="pop-modal">
    <button type="button" class="pop-button-close" data-modal-close>
      <svg class="pop-close-icon">
        <use href="./img/icon.svg#icon-x"></use>
      </svg>
    </button>

    <picture>
      <source
        srcset="
          ./img/rent_img/yaht/mob/imgyaht-mob.png   1x,
          ./img/rent_img/yaht/mob/imgyaht-mob@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./img/rent_img/yaht/tab/imgyaht-tab.png   1x,
          ./img/rent_img/yaht/tab/imgyaht-tab@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/rent_img/yaht/laptop/imgyaht-dt.png   1x,
          ./img/rent_img/yaht/laptop/imgyaht-dt@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <img
        class="pop-yaht"
        src="./img/rent_img/yaht/laptop/imgyaht-dt.png"
        alt="Yaht"
        width="287"
        height="149"
      />
    </picture>

    <div class="pop-gradient"></div>

    <div class="pop-text">
      <h2 class="pop-title">Thank you</h2>
      <p class="pop-paragraph">
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your
        reservation and provide any additional information or assistance you may
        need.
      </p>
    </div>
  </div>
</div>
