<section class="reviews-container rev-section-container">
  <div class="container">
    <ul class="rev-first-list">
      <li class="rev-first-desc list">
        <p class="rev-first-text">
          <span class="rev-only">Yaht Adventures</span> take pride in providing
          the best possible service and experience to our customers
        </p>
      </li>
      <li class="rev-secound-desc list">
        <p class="rev-second-text">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </li>
    </ul>
    <div class="reviews-total">
      <div class="reviews-swiper swiper">
        <div class="reviews-swiper-wrapper swiper-wrapper">
          <div class="reviews-card swiper-slide">
            <img
              class="rev-clients"
              src="./img/reviews/john.png"
              alt="photo our clients"
              srcset="./img/reviews/john.png 1x, ./img/reviews/john@2x.png 2x"
              width="48"
            />
            <div class="rev-card-description">
              <h3 class="card-name">John Wax</h3>
              <p class="rev-card-text">
                I rented the Lagoon 620 with my family for a week-long vacation
                and it was the best decision ever. The yacht was spacious,
                comfortable, and luxurious, and the crew took care of
                everything.
              </p>
            </div>
          </div>
          <div class="reviews-card swiper-slide">
            <img
              class="rev-clients"
              src="./img/reviews/victoria.png"
              alt="photo our clients"
              srcset="
                ./img/reviews/victoria.png    1x,
                ./img/reviews/victoria@2x.png 2x
              "
              width="48"
            />
            <div class="rev-card-description">
              <h3 class="card-name">Victoria Romashenko</h3>
              <p class="rev-card-text">
                The Sunseeker Manhattan 66 was the perfect choice for our
                romantic getaway. The yacht was beautifully designed, with all
                the amenities we needed, and the crew was attentive and
                friendly.
              </p>
            </div>
          </div>
          <div class="reviews-card swiper-slide">
            <img
              class="rev-clients"
              src="./img/reviews/ihor.png"
              alt="photo our clients"
              srcset="./img/reviews/ihor.png 1x, ./img/reviews/ihor@2x.png 2x"
              width="48"
            />
            <div class="rev-card-description">
              <h3 class="card-name">Ihor Trachuk</h3>
              <p class="rev-card-text">
                The Azimut 80 was the most luxurious yacht I've ever been on.
                The cabins were spacious and elegant, and the outdoor areas were
                perfect for relaxing and entertaining. Worth every penny!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
