<section class="reviews-container rev-section-container">
  <div class="container">
    <ul class="rev-first-list">
      <li class="rev-first-desc list">
        <p class="rev-first-text">
          <span class="rev-only">Yaht Adventures</span> take pride in providing
          the best possible service and experience to our customers
        </p>
      </li>
      <li class="rev-secound-desc list">
        <p class="rev-second-text">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </li>
    </ul>
    <div>
      <ul class="rev-card-container">
        <li class="reviews-card list">
          <div class="rev-card-content">
            <img
              srcset="./img/reviews/john.png 1x, ./img/reviews/john@2x.png 2x"
              src="./img/reviews/john.png"
              width="48"
              alt="photo our clients"
              class="rev-clients"
            />
            <div class="rev-card-description">
              <h3 class="card-name">John Wax</h3>
              <p class="rev-card-text">
                I rented the Lagoon 620 with my family for a week-long vacation
                and it was the best decision ever. The yacht was spacious,
                comfortable, and luxurious, and the crew took care of
                everything.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews-card list">
          <div class="rev-card-content">
            <img
              srcset="
                ./img/reviews/victoria.png    1x,
                ./img/reviews/victoria@2x.png 2x
              "
              src="./img/reviews/victoria.png"
              width="48"
              alt="photo our clients"
              class="rev-clients"
            />
            <div class="rev-card-description">
              <h3 class="card-name">Victoria Romashenko</h3>
              <p class="rev-card-text">
                The Sunseeker Manhattan 66 was the perfect choice for our
                romantic getaway. The yacht was beautifully designed, with all
                the amenities we needed, and the crew was attentive and
                friendly.
              </p>
            </div>
          </div>
        </li>
        <li class="reviews-card list">
          <div class="rev-card-content">
            <img
              srcset="./img/reviews/ihor.png 1x, ./img/reviews/ihor@2x.png 2x"
              src="./img/reviews/ihor.png"
              width="48"
              alt="photo our clients"
              class="rev-clients"
            />
            <div class="rev-card-description">
              <h3 class="card-name">Ihor Trachuk</h3>
              <p class="rev-card-text">
                The Azimut 80 was the most luxurious yacht I've ever been on.
                The cabins were spacious and elegant, and the outdoor areas were
                perfect for relaxing and entertaining. Worth every penny!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
