<section class="yachts-section" id="yachts-section">
  <div class="container">
    <div class="yachts-section-pretext">
      <h2 class="yachts-section-title">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <a class="yachts-section-btn" href="#rentblock">Yacht rental</a>
      <div class="yachts-section-title-bg1"></div>
      <div class="yachts-section-title-bg2"></div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-bg-wrapper">
      <div class="yachts-swiper swiper">
        <!-- Additional required wrapper -->
        <div class="yachts-swiper-wrapper swiper-wrapper">
          <!-- Slides -->
          <!-- 1 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/arrow/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/arrow/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/arrow/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/arrow/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/arrow/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/arrow/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/arrow/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Arrow</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>48m(155ft)</td>
                  </tr>
                  <tr>
                    <th>Builder</th>
                    <td>Admiral</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2021</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€33,500,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 2 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/benetti-oasis/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/benetti-oasis/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/benetti-oasis/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/benetti-oasis/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/benetti-oasis/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/benetti-oasis/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/benetti-oasis/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Benetti Oasis 40m...</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>41m (133ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Benetti</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2025</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€23,210,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 3 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/belle-anna/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/belle-anna/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/belle-anna/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/belle-anna/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/belle-anna/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/belle-anna/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/belle-anna/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Belle Anna</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>50m(155ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>ISA</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2012</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>12 in 6 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€21,000,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 4 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/ellen/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/ellen/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/ellen/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/ellen/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/ellen/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/ellen/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/ellen/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Ellen</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>40m (132ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Perini Navi</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2001 / 2016 (refitted)</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€9,300,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 5 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/mirage/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/mirage/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/mirage/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/mirage/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/mirage/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/mirage/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/mirage/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Mirage 401</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>38m (125ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Gianetti Custom Yachts</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2024</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€13,500,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 6 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/king/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/king/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/king/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/king/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/king/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/king/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/king/mobile.jpg"
                  alt="arrow-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">King</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>33m (109ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2004 / 2018 (refitted)</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€1,850,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 7 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/satl/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/satl/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/satl/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/satl/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/satl/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/satl/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/satl/mobile.jpg"
                  alt="satl-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Salt</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>32m (105ft)</td>
                  </tr>
                  <tr>
                    <th>Builder</th>
                    <td>SanLorenzo</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2019</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>11 in 5 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€7,800,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 8 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/storm/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/storm/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/storm/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/storm/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/storm/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/storm/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/storm/mobile.jpg"
                  alt="storm-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Storm</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>32m (103ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Overmarine</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2005 / 2022 (refitted)</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>9 in 4 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>€2,900,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 9 -->
          <div class="yachts-swiper-slide swiper-slide">
            <div class="yacht-card-image-container">
              <picture class="yacht-card-image">
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/collu/desktop.jpg    1x,
                    ./img/yachts-section/yachts-img/collu/desktop@2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/collu/tablet.jpg    1x,
                    ./img/yachts-section/yachts-img/collu/tablet@2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/jpeg"
                  srcset="
                    ./img/yachts-section/yachts-img/collu/mobile.jpg    1x,
                    ./img/yachts-section/yachts-img/collu/mobile@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/yachts-section/yachts-img/collu/mobile.jpg"
                  alt="collu-yacht"
                />
              </picture>
            </div>
            <div class="yacht-card-content-container">
              <div class="yacht-card-name-container">
                <h3 class="yacht-card-name">Collu</h3>
                <p class="yacht-card-description">Luxury Yachts</p>
              </div>
              <table class="yacht-card-info">
                <tbody class="yacht-card-info-body">
                  <tr>
                    <th>Length</th>
                    <td>29m (96ft)</td>
                  </tr>
                  <tr>
                    <th>Shipyard</th>
                    <td>Ferretti</td>
                  </tr>
                  <tr>
                    <th>Built</th>
                    <td>2014</td>
                  </tr>
                  <tr>
                    <th>Guests</th>
                    <td>10 in 5 cabins</td>
                  </tr>
                  <tr>
                    <th>Price</th>
                    <td>$4,300,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <ul class="yachts-swiper-buttons">
        <li class="yachts-swiper-button-element">
          <button class="yachts-swiper-button yachts-prev-btn">
            <svg class="yachts-swiper-button-icon" width="18" height="8">
              <use href="./img/icon.svg#icon-prev-slide"></use>
            </svg>
          </button>
        </li>
        <li class="yachts-swiper-button-element">
          <button class="yachts-swiper-button yachts-next-btn">
            <svg class="yachts-swiper-button-icon" width="18" height="8">
              <use href="./img/icon.svg#icon-next-slide"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div></div>
  </div>
</section>
