:root {
  /* --white:#F6F5EF;
    --dark-blue: #11131F;
    --blue-two:#1F212D;
    --linear-green:rgba(190, 199, 194, 1), rgba(161, 181, 186, 1);
    --linear-gradient: #00000000, #11131F;
    --light-green: #93ABAE; */
}

.about-section {
  background-color: var(--dark-blue);
}
/* Base styles for small device */
.about-container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .about-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1280px) {
  .about-container {
    max-width: 1216px;
  }
}

.about-description {
  color: var(--white);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  margin-bottom: 40px;
}
.about-accent-description {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  color: var(--light-green);
}
.about-description-list {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.about-description-item {
}
.about-extdescription {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  width: 160px;
}

.yachts {
  /* max-width: 100%; */
}
.yachts-mob-img-1,
.yachts-mob-img-2 {
  margin-bottom: 24px;
}
.yachts-mob-img-3 {
  border-radius: 24px;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%),
    url(<path-to-image>), lightgray -86.838px 0px / 166.799% 100% no-repeat;
  margin-left: auto;
  position: absolute;
}
.yachts-list {
}
.yachts-mob-item {
}
