.header-section {
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(246, 245, 239, 0.20);
    margin: 0 auto;
 }
.container {
}
.header-logo-box {
    display: flex;
    align-items: center;
    gap: 3.5px;
}
.logo-icon{

}

.header-logo-link {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    padding: 28px 0;
    
}
    /* font-size: 18px;
    
    line-height: 1.18; */
.header-nav {
    display: none;
}  
    
.mob-menu-btn {
    background-color: transparent;
    border: none;
}
.js-open-menu {
}
.mob-menu-icon {
    stroke: var(--white);
}
.header-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.header-item {
}
.header-link { 
font-size: 14px;
font-weight: 700;
line-height: 1.18; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
}