/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  padding: 0;
  background-color: var(--dark-blue);
  margin: 0;
  overflow: hidden;
}