:root{
    --white:#F6F5EF;
    --dark-blue: #11131F;
    --blue-two:#1F212D;
    --linear-green:rgba(190, 199, 194, 1), rgba(161, 181, 186, 1);
    --linear-gradient: #00000000, #11131F
    --light-green: #93ABAE;
}